In [1]:
%pwd

'/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_da'

In [2]:
path = "/Users/a06411/Documents/data_hub/lending_club/lending_club.csv"

In [3]:
import pandas as pd
import numpy as np
import sqlite3
import os

In [4]:
pd.__version__

'1.5.3'

In [5]:
df_d = pd.read_csv(path, low_memory=False)

In [6]:
df_d.shape

(2260701, 151)

In [12]:
df_d.select_dtypes(include="object").head().columns

Index(['id', 'term', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'verification_status', 'issue_d', 'loan_status',
       'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d',
       'next_pymnt_d', 'last_credit_pull_d', 'application_type',
       'verification_status_joint', 'sec_app_earliest_cr_line',
       'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status',
       'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date',
       'hardship_loan_status', 'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date'],
      dtype='object')

In [13]:
df_d['issue_d'].head()

0    Dec-2015
1    Dec-2015
2    Dec-2015
3    Dec-2015
4    Dec-2015
Name: issue_d, dtype: object

In [15]:
df_d['issue_d_date'] = pd.to_datetime(df_d['issue_d'])

In [18]:
(df_d['issue_d_date'].dt.year).value_counts()

2018.0    495242
2017.0    443579
2016.0    434407
2015.0    421095
2014.0    235629
2013.0    134814
2012.0     53367
2011.0     21721
2010.0     12537
2009.0      5281
2008.0      2393
2007.0       603
Name: issue_d_date, dtype: int64

In [25]:
(df_d['issue_d_date'].dt.year == 2012.0).sum()

53367

In [26]:
df_d_2012 = df_d[df_d['issue_d_date'].dt.year == 2012.0]

In [27]:
df_d_2012.shape

(53367, 152)

In [28]:
df_d_2012.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53367 entries, 1884897 to 1939378
Columns: 152 entries, id to issue_d_date
dtypes: datetime64[ns](1), float64(113), object(38)
memory usage: 62.3+ MB

In [30]:
df_d_2012 = df_d_2012.drop('issue_d_date',axis=1)

In [31]:
df_d_2012.shape

(53367, 151)

In [33]:
path_w = '/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/lending_club_2012.csv'

In [34]:
df_d_2012.to_csv(path_w)

In [9]:
df_d.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [7]:
df_d.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB