In [1]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder\
           .config('spark.jars.packages', 'org.xerial:sqlite-jdbc:3.34.0')
           .config("spark.driver.host","127.0.0.1") 
           .config("spark.driver.bindAddress","127.0.0.1")
           .getOrCreate())

:: loading settings :: url = jar:file:/Users/a06411/opt/anaconda3/envs/pycaret/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/a06411/.ivy2/cache
The jars for the packages stored in: /Users/a06411/.ivy2/jars
org.xerial#sqlite-jdbc added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-605fb76d-726b-4e09-8cfd-f30889bce227;1.0
	confs: [default]
	found org.xerial#sqlite-jdbc;3.34.0 in central
downloading https://repo1.maven.org/maven2/org/xerial/sqlite-jdbc/3.34.0/sqlite-jdbc-3.34.0.jar ...
	[SUCCESSFUL ] org.xerial#sqlite-jdbc;3.34.0!sqlite-jdbc.jar (1448ms)
:: resolution report :: resolve 1782ms :: artifacts dl 1452ms
	:: modules in use:
	org.xerial#sqlite-jdbc;3.34.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   1   |   1   |   0   ||   1   |   1   |
	---------------------------------------------------------------------

:: problems summary ::
:::: ERRORS
	Server access error at url https://repos.spark-packages.org/org/sonatype/oss/oss-parent/9/oss-parent-9.jar (javax.net.ssl.SSLHandshakeException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target)


:: USE VERBOSE OR DEBUG MESSAGE LEVEL FOR MORE DETAILS
:: retrieving :: org.apache.spark#spark-submit-parent-605fb76d-726b-4e09-8cfd-f30889bce227
	confs: [default]
	1 artifacts copied, 0 already retrieved (7125kB/9ms)
23/09/12 09:24:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/12 09:24:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
path_db1 = "/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/sql_db/lending_club_2012.db"

In [6]:
df = (spark.read.format('jdbc') 
        .options(driver='org.sqlite.JDBC', dbtable='borrower',
                 url='jdbc:sqlite:'+path_db1)
        .load())

In [9]:
df.count()

53367

In [10]:
df.columns

['id',
 'emp_title',
 'emp_length',
 'home_ownership',
 'zip_code',
 'addr_state',
 'member_id']

In [11]:
import os

from pyspark.sql import SparkSession

spark1 = (SparkSession.builder
    .master("local")
    .appName("SQLite JDBC")
    .config(
        "spark.jars",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
    .config(
        "spark.driver.extraClassPath",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
    .getOrCreate())

23/09/12 09:35:49 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## 쿼리로 읽어오기

In [16]:
driver='org.sqlite.JDBC'
url='jdbc:sqlite:'+path_db1

In [20]:
query = "select * from borrower limit 100"

In [22]:
df = spark1 \
    .read \
    .format("jdbc") \
    .option("driver", driver) \
    .option("url", url) \
    .option("query", query) \
    .load()

In [23]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- member_id: double (nullable = true)

In [25]:
df.count()

100

In [28]:
df.show()

+-------+--------------------+----------+--------------+--------+----------+---------+
|     id|           emp_title|emp_length|home_ownership|zip_code|addr_state|member_id|
+-------+--------------------+----------+--------------+--------+----------+---------+
|2828755|University of Pho...|   2 years|          RENT|   970xx|        OR|     null|
|2828209|     city of branson| 10+ years|      MORTGAGE|   656xx|        MO|     null|
|2634739|    henry Schein Inc|   8 years|          RENT|   115xx|        NY|     null|
|2837824|  Sentara Healthcare|   6 years|      MORTGAGE|   234xx|        VA|     null|
|2837644|                MCSD|   6 years|           OWN|   330xx|        FL|     null|
|2836798|     Dept.of Defense| 10+ years|          RENT|   928xx|        CA|     null|
|2826877|United States Pos...| 10+ years|          RENT|   274xx|        NC|     null|
|2824664|            ref-chem| 10+ years|      MORTGAGE|   776xx|        TX|     null|
|2837301|      Placid Express| 10+ years|          RENT|   113xx|        NY|     null|
|2694737|Integrated Wind E...|   2 years|      MORTGAGE|   754xx|        TX|     null|
|2825326|Tarrant County Sh...| 10+ years|           OWN|   761xx|        TX|     null|
|2837228|the midnight mission|   6 years|      MORTGAGE|   906xx|        CA|     null|
|2827256|State Compensatio...|   7 years|          RENT|   945xx|        CA|     null|
|2827250|     Seal Source Inc|   7 years|      MORTGAGE|   972xx|        OR|     null|
|2827189|Orange County Gov...|   6 years|      MORTGAGE|   272xx|        NC|     null|
|2487374|Norfolk naval shi...|   5 years|      MORTGAGE|   237xx|        VA|     null|
|2827120|Fantasy Springs R...|   8 years|          RENT|   922xx|        CA|     null|
|2827122|State of Maryland...| 10+ years|          RENT|   212xx|        MD|     null|
|2835292|           Citigroup|   3 years|      MORTGAGE|   331xx|        FL|     null|
|2827092|National Oilwell ...|   3 years|          RENT|   917xx|        CA|     null|
+-------+--------------------+----------+--------------+--------+----------+---------+
only showing top 20 rows