## 0. READ DATA

In [2]:
import pandas as pd
import numpy as np
import os

In [ ]:
## 데이터 확인

In [4]:
path_db = "/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/sql_db/lending_club_2012.db"

## sqlite  데이터 베이스 연결

In [5]:
import sqlite3

In [6]:
con = sqlite3.connect(path_db)

## 판다스에서 쿼리로 테이블 조회하기

In [7]:
df = pd.read_sql("SELECT * FROM trade", con, index_col=None)

In [8]:
df.head()

        id open_acc_6m total_cu_tl  acc_open_past_24mths  pct_tl_nvr_dlq
0  2828755        None        None                   8.0            92.0
1  2828209        None        None                   2.0            92.0
2  2634739        None        None                   3.0           100.0
3  2837824        None        None                  13.0            98.0
4  2837644        None        None                   4.0            92.0

In [9]:
df.shape

(53367, 5)

### 1. TABLE 수정

In [ ]:
# cur = conn.cursor()
# conn.execute('CREATE TABLE employee_data(id INTEGER, name TEXT, nickname TEXT, department TEXT, employment_date TEXT)')
# cur.executemany( 'INSERT INTO employee_data VALUES (?, ?, ?, ?, ?)', 
#                 [(1001, 'Donghyun', 'SOMJANG', 'Development', '2020-04-01 00:00:00.000'), 
#                  (2001, 'Sol', 'Fairy', 'Marketing', '2020-04-01 00:00:00.000'), 
#                  (2002, 'Jiyoung', 'Magician', 'Marketing', '2020-04-01 00:00:00.000'), 
#                  (1002, 'Hyeona', 'Theif', 'Development', '2020-04-01 00:00:00.000'),
#                  (1003, 'Soyoung', 'Chief', 'Development', '2020-04-01 00:00:00.000') ] )
# conn.commit()
# conn.close()

In [ ]:
con.close()