## 1. 데이터 읽어오기

### 현재 작업 위치 확인하기

In [1]:
%pwd

'/Users/a06411/Documents/GitHub/js_automl_pycaret'

### 기본 모듈 사용하기

In [2]:
import pandas as pd
import numpy as np
import sqlite3
import os

In [3]:
pd.__version__

'1.5.3'

### 데이터 읽기 

- 데이터를 파티션 나눈 파케이 파일을 읽어서 처리함

In [4]:
df = pd.read_parquet("./data/lending_club_parquet/")

## 데이터가 커서 사용하지 않음 

- path = "/Users/a06411/Documents/data_hub/lending_club/lending_club.csv"

- df_d = pd.read_csv(path, low_memory=False)

In [5]:
df.shape

(2260701, 151)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(53), object(98)
memory usage: 2.5+ GB

### 데이터 중에 문자 처리 칼럼 확인

In [7]:
df.select_dtypes(include="object").head().columns

Index(['id', 'member_id', 'term', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'avg_cur_bal', 'bc_util',
       'sec_app_earliest_cr_line', 'hardship_flag', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

In [8]:
df_schema = pd.read_excel("./lending_club_data/테이블정보_한글칼럼명추가.xlsx")

In [9]:
import meta

In [10]:
df_cols = meta.SearchMeta(df_schema)

In [11]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [12]:
cols = df_cols.searchEnMetaAll(df.columns[1:])

In [13]:
cols

['회원번호',
 '대출금액',
 '대출약정금액',
 '투자자대출약정금액',
 '대출상환기간',
 '대출이자율',
 '매월상환금액',
 '신용평가등급',
 '신용평가보조등급',
 '직업명',
 '근무연차 ',
 '주택소유',
 '연소득금액',
 '소득인증상태',
 '대출조달월',
 '대출현재상태',
 '대출지불계획상태',
 'url주소',
 '대출설명',
 '대출용도',
 '대출제목',
 '우편번호',
 '거주국가',
 '부채대비소득비율',
 '연체발생회수 ',
 '신용한도시작일자',
 'FICO상한범위',
 'FICO하한범위',
 '6개월간상담횟수',
 '최종연체개월수',
 '마지막거래이후개월수',
 '신용한도개설기록횟수',
 '신용이상기록횟수',
 '리볼링잔액',
 '리볼링사용비율',
 '신용한도',
 '대출초기상태',
 '잔존원금',
 '투자자잔존원금',
 '납부된총원금',
 '투자자납부된총원금',
 '납부누적원금',
 '납부누적이자',
 '납부누적연체료',
 '채무불이행회수율',
 '채무불이행회수범위',
 '최근지급월',
 '최근지급금액',
 '다음지급금액',
 '신용한도총기록회수',
 '이전FICO상한범위',
 '이전FICO하한범위',
 '추심횟수',
 '신용평가불랭이후개월수',
 '대출가능상태',
 '공동대출여부',
 '공동총소득금액',
 '공동부채대비소득비율',
 '공동소득인증상태',
 '연체계조개수',
 '연체추심금액',
 '총계좌잔액',
 '최근은행거래횟수',
 '할부거래횟수',
 '일년간할부계좌개수',
 '이년간할부계좌개수',
 '최근할부발생개월수',
 '할부계좌잔액',
 '신용한도대비할부비율',
 '일년간리볼링거래횟수',
 '이년간리볼빙거래횟수',
 '청구최대금액',
 '신용한도잔액',
 '리볼빙신용최대한도',
 '상담횟수',
 '은행대출거래횟수',
 '12개월간상담횟수',
 '최근거래횟수',
 '계좌평금금액',
 '리볼빙구매총금액',
 '신용한도대금비율',
 '연체횟수',
 '세금체납금액',
 '가장오리댄할부발생개월수',
 '과거리볼빙발생개월수',
 '최근리볼빙발생개월수',
 '최근계죄개설개월수',
 '주택담도대출계좌수',
 '최근은행카드개월수',
 '최근연체발생후개월수',
 '최근상담이후개월수',
 '최근리볼빙연체개월수',
 '연체계좌수',
 '은행카드활동계좌개수',
 '현재리볼빙진행개수',
 '은행카드정상계좌개수',
 '은행카드개수',
 '할부총계좌수',
 '현재개설된리볼빙계좌개수',
 '리볼빙총계좌수',
 '잔고0이상리볼빙거래개수',
 '은행카드정상개수',
 '중기연체계좌개수',
 '단기연체계좌개수',
 '장기연체계좌개수',
 '최근개설계좌개수',
 '미연체거래비율',
 '특정한도이상소진계좌비율',
 '파산기록횟수',
 '세금유치권횟수',
 '총신용한도금액',
 '신용한도금액',
 '은행카드신요한도',
 '할부신용한도',
 '공동리볼빙신용총금액',
 '보조FICO상한범위',
 '보조FICO하한범위',
 '보조신용한도',
 '보조신용조회횟수',
 '보조주택담도대출계좌수',
 '보조거래개수',
 '리볼빙총잔액비율',
 '보조할부거래개수',
 '보조리볼빙계좌수',
 '보조일년간 과금횟수',
 '보조일년간추심횟수',
 '보조나쁜평가개월수',
 '상환계획실행여부',
 '상환계획유형',
 '상환계획사유',
 '상환계획진행상태',
 '상환예정개월수',
 '매월이자납부금액',
 '상환시작일자',
 '상환마감일자',
 '상환계획시작일자',
 '기준이하납부개월수',
 '상환미지계좌',
 '상환이후대출상태',
 '상환이후추가대출금액',
 '상환시작일이후상환금액',
 '상환시작일이후마지막상환금액',
 '대출금지급유형',
 '대출협력여부',
 '가장최근상환일자',
 '대출정산계획상태',
 '대출정산계획일자',
 '대출정산금액',
 '대출정산비율금액',
 '대출정산계획개월수']

In [14]:
cols.insert(0, df.columns[0])

In [15]:
cols

['id',
 '회원번호',
 '대출금액',
 '대출약정금액',
 '투자자대출약정금액',
 '대출상환기간',
 '대출이자율',
 '매월상환금액',
 '신용평가등급',
 '신용평가보조등급',
 '직업명',
 '근무연차 ',
 '주택소유',
 '연소득금액',
 '소득인증상태',
 '대출조달월',
 '대출현재상태',
 '대출지불계획상태',
 'url주소',
 '대출설명',
 '대출용도',
 '대출제목',
 '우편번호',
 '거주국가',
 '부채대비소득비율',
 '연체발생회수 ',
 '신용한도시작일자',
 'FICO상한범위',
 'FICO하한범위',
 '6개월간상담횟수',
 '최종연체개월수',
 '마지막거래이후개월수',
 '신용한도개설기록횟수',
 '신용이상기록횟수',
 '리볼링잔액',
 '리볼링사용비율',
 '신용한도',
 '대출초기상태',
 '잔존원금',
 '투자자잔존원금',
 '납부된총원금',
 '투자자납부된총원금',
 '납부누적원금',
 '납부누적이자',
 '납부누적연체료',
 '채무불이행회수율',
 '채무불이행회수범위',
 '최근지급월',
 '최근지급금액',
 '다음지급금액',
 '신용한도총기록회수',
 '이전FICO상한범위',
 '이전FICO하한범위',
 '추심횟수',
 '신용평가불랭이후개월수',
 '대출가능상태',
 '공동대출여부',
 '공동총소득금액',
 '공동부채대비소득비율',
 '공동소득인증상태',
 '연체계조개수',
 '연체추심금액',
 '총계좌잔액',
 '최근은행거래횟수',
 '할부거래횟수',
 '일년간할부계좌개수',
 '이년간할부계좌개수',
 '최근할부발생개월수',
 '할부계좌잔액',
 '신용한도대비할부비율',
 '일년간리볼링거래횟수',
 '이년간리볼빙거래횟수',
 '청구최대금액',
 '신용한도잔액',
 '리볼빙신용최대한도',
 '상담횟수',
 '은행대출거래횟수',
 '12개월간상담횟수',
 '최근거래횟수',
 '계좌평금금액',
 '리볼빙구매총금액',
 '신용한도대금비율',
 '연체횟수',
 '세금체납금액',
 '가장오리댄할부발생개월수',
 '과거리볼빙발생개월수',
 '최근리볼빙발생개월수',
 '최근계죄개설개월수',
 '주택담도대출계좌수',
 '최근은행카드개월수',
 '최근연체발생후개월수',
 '최근상담이후개월수',
 '최근리볼빙연체개월수',
 '연체계좌수',
 '은행카드활동계좌개수',
 '현재리볼빙진행개수',
 '은행카드정상계좌개수',
 '은행카드개수',
 '할부총계좌수',
 '현재개설된리볼빙계좌개수',
 '리볼빙총계좌수',
 '잔고0이상리볼빙거래개수',
 '은행카드정상개수',
 '중기연체계좌개수',
 '단기연체계좌개수',
 '장기연체계좌개수',
 '최근개설계좌개수',
 '미연체거래비율',
 '특정한도이상소진계좌비율',
 '파산기록횟수',
 '세금유치권횟수',
 '총신용한도금액',
 '신용한도금액',
 '은행카드신요한도',
 '할부신용한도',
 '공동리볼빙신용총금액',
 '보조FICO상한범위',
 '보조FICO하한범위',
 '보조신용한도',
 '보조신용조회횟수',
 '보조주택담도대출계좌수',
 '보조거래개수',
 '리볼빙총잔액비율',
 '보조할부거래개수',
 '보조리볼빙계좌수',
 '보조일년간 과금횟수',
 '보조일년간추심횟수',
 '보조나쁜평가개월수',
 '상환계획실행여부',
 '상환계획유형',
 '상환계획사유',
 '상환계획진행상태',
 '상환예정개월수',
 '매월이자납부금액',
 '상환시작일자',
 '상환마감일자',
 '상환계획시작일자',
 '기준이하납부개월수',
 '상환미지계좌',
 '상환이후대출상태',
 '상환이후추가대출금액',
 '상환시작일이후상환금액',
 '상환시작일이후마지막상환금액',
 '대출금지급유형',
 '대출협력여부',
 '가장최근상환일자',
 '대출정산계획상태',
 '대출정산계획일자',
 '대출정산금액',
 '대출정산비율금액',
 '대출정산계획개월수']

## 한글 이름으로 변경

In [16]:
df.columns = cols

In [17]:
df.head()

,id,회원번호,대출금액,대출약정금액,투자자대출약정금액,대출상환기간,대출이자율,매월상환금액,신용평가등급,신용평가보조등급,...,상환시작일이후상환금액,상환시작일이후마지막상환금액,대출금지급유형,대출협력여부,가장최근상환일자,대출정산계획상태,대출정산계획일자,대출정산금액,대출정산비율금액,대출정산계획개월수
0,63918338,None,25000.0,25000.0,25000.0,60 months,9.17,521.03,B,B2,...,None,None,Cash,N,None,None,None,None,None,None
1,60635644,None,30000.0,30000.0,30000.0,36 months,12.29,1000.59,C,C1,...,None,None,Cash,N,None,None,None,None,None,None
2,57206438,None,6000.0,6000.0,6000.0,36 months,9.17,191.28,B,B2,...,None,None,Cash,Y,May-2018,COMPLETE,May-2018,1050.0,49.95,1.0
3,65826019,None,6400.0,6400.0,6400.0,36 months,9.99,206.48,B,B3,...,None,None,Cash,N,None,None,None,None,None,None
4,62854410,None,35000.0,35000.0,35000.0,60 months,17.57,880.61,D,D4,...,None,None,Cash,N,None,None,None,None,None,None

In [18]:
df.tail()

,id,회원번호,대출금액,대출약정금액,투자자대출약정금액,대출상환기간,대출이자율,매월상환금액,신용평가등급,신용평가보조등급,...,상환시작일이후상환금액,상환시작일이후마지막상환금액,대출금지급유형,대출협력여부,가장최근상환일자,대출정산계획상태,대출정산계획일자,대출정산금액,대출정산비율금액,대출정산계획개월수
2260696,91650299,None,20000.0,20000.0,20000.0,60 months,12.74,452.41,C,C1,...,None,None,Cash,N,None,None,None,None,None,None
2260697,92195070,None,6000.0,6000.0,6000.0,36 months,8.24,188.69,B,B1,...,None,None,Cash,N,None,None,None,None,None,None
2260698,92350206,None,28000.0,28000.0,28000.0,60 months,30.99,923.00,G,G5,...,None,None,DirectPay,N,None,None,None,None,None,None
2260699,90237683,None,5600.0,5600.0,5600.0,36 months,9.49,179.36,B,B2,...,None,None,Cash,N,None,None,None,None,None,None
2260700,91357699,None,10000.0,10000.0,10000.0,36 months,12.74,335.69,C,C1,...,None,None,Cash,N,None,None,None,None,None,None

# 2. 날짜 변환 처리

### 날짜 처리 칼럼 확인

In [20]:
df_cols.searchEnMeta('issue_d')

'대출조달월'

In [28]:
df['대출조달월'].unique()

array(['Nov-2015', 'Sep-2015', 'Aug-2015', 'Dec-2015', 'Oct-2015',
       'Jul-2015', 'Feb-2015', 'May-2015', 'Mar-2015', 'Apr-2015',
       'Jun-2015', 'Jan-2015', 'Jan-2018', 'Sep-2017', 'Mar-2018',
       'Feb-2018', 'May-2016', 'Jul-2017', 'Apr-2016', 'Aug-2017',
       'Jun-2016', 'Sep-2018', 'Jul-2018', 'Jun-2017', 'Aug-2018',
       'May-2017', 'Mar-2016', 'Feb-2016', 'Apr-2017', 'Jan-2016',
       'Nov-2014', 'Dec-2014', 'May-2014', 'Oct-2014', 'Jul-2014',
       'Jun-2014', 'Sep-2014', 'Aug-2014', 'Apr-2014', 'Mar-2014',
       'Oct-2018', 'Nov-2018', 'Dec-2018', 'Jan-2014', 'Feb-2014',
       'May-2018', 'Apr-2018', 'Jun-2018', 'Jan-2011', 'Aug-2011',
       'Dec-2011', 'Feb-2011', 'Nov-2010', 'Jul-2011', 'Mar-2011',
       'May-2011', 'Jun-2011', 'Jun-2010', 'Oct-2011', 'Apr-2011',
       'Oct-2010', 'May-2010', 'Sep-2010', 'Nov-2011', 'Dec-2010',
       'Jul-2010', 'Sep-2011', 'Apr-2010', 'Aug-2010', 'Mar-2010',
       'Mar-2017', 'Dec-2013', 'Aug-2013', 'Jan-2017', 'Sep-2013',
       'Jan-2009', 'Feb-2017', 'Nov-2013', 'Oct-2013', 'Dec-2009',
       'Apr-2009', 'May-2008', 'Jul-2013', 'Sep-2008', 'Mar-2008',
       'Nov-2009', 'Dec-2008', 'Apr-2008', 'May-2009', 'Aug-2009',
       'Jan-2010', 'Jan-2008', 'Nov-2008', 'Aug-2008', 'Jun-2009',
       'Sep-2009', 'Oct-2009', 'Mar-2009', 'Oct-2007', 'Jul-2007',
       'Nov-2007', 'Feb-2010', 'Feb-2008', 'Feb-2009', 'Aug-2007',
       'Jun-2008', 'Jun-2007', 'Oct-2008', 'Dec-2007', 'Jul-2009',
       'Jul-2008', 'Sep-2007', 'Dec-2012', 'Mar-2013', 'Aug-2016',
       'May-2013', 'Sep-2016', 'Jan-2013', 'Aug-2012', 'Apr-2013',
       'Jun-2013', 'Nov-2012', 'Sep-2012', 'Feb-2012', 'Feb-2013',
       'Jan-2012', 'Mar-2012', 'Apr-2012', 'Oct-2012', 'Jul-2012',
       'Jun-2012', 'May-2012', 'Dec-2017', 'Jul-2016', 'Dec-2016',
       'Nov-2017', 'Oct-2017', '', 'Nov-2016', 'Oct-2016',
       'Source Verified'], dtype=object)

In [29]:
df['대출조달월'].value_counts()

Mar-2016           61992
Oct-2015           48630
May-2018           46311
Oct-2018           46305
Aug-2018           46079
                   ...
Sep-2008              57
Sep-2007              53
                      33
Jun-2007              24
Source Verified        1
Name: 대출조달월, Length: 141, dtype: int64

In [32]:
df = df.drop(df[df['대출조달월'] == "Source Verified"].index)

In [33]:
df.shape

(2260700, 151)

In [34]:
df['대출조달월'].isnull().sum()

0

In [35]:
df['대출조달월'] = df['대출조달월'].fillna("")

### 날짜를 변환 처리

In [36]:
df['대출조달월_날짜변환'] = pd.to_datetime(df['대출조달월'])

### 년도별 데이터 확인하기

In [37]:
(df['대출조달월_날짜변환'].dt.year).value_counts()

2018.0    495242
2017.0    443579
2016.0    434407
2015.0    421094
2014.0    235629
2013.0    134814
2012.0     53367
2011.0     21721
2010.0     12537
2009.0      5281
2008.0      2393
2007.0       603
Name: 대출조달월_날짜변환, dtype: int64

### 특정 연도 데이터만 선택하기

In [38]:
(df['대출조달월_날짜변환'].dt.year == 2012.0).sum()

53367

In [39]:
df_2012 = df[df['대출조달월_날짜변환'].dt.year == 2012.0]

In [40]:
df_2012.shape

(53367, 152)

In [41]:
df_2012.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53367 entries, 70023 to 2250550
Columns: 152 entries, id to 대출조달월_날짜변환
dtypes: datetime64[ns](1), float64(53), object(98)
memory usage: 62.3+ MB

In [30]:
df_2012 = df_2012.drop('대출조달월_날짜변환',axis=1)

In [31]:
df_d_2012.shape

(53367, 151)

### 특정 데이터만 저장하기

In [33]:
path_w = '/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/lending_club_2012.csv'

In [34]:
df_d_2012.to_csv(path_w)