# 1. 세션 정의

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession.builder.appName("MyPySparkApp")
                             .config("spark.driver.host","127.0.0.1") 
                             .config("spark.driver.bindAddress","127.0.0.1")
                             .getOrCreate())

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/14 16:30:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/10/14 16:30:43 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/10/14 16:30:43 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

# 2. 테이블 생성하기

## 데이터프레임 생성

In [3]:
# 예제 데이터를 생성합니다.
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
df = spark.createDataFrame(data, ["name", "age"])

## 테이블로 저장하기

In [5]:
# 데이터프레임을 영구 테이블로 등록합니다.
df.write.saveAsTable("my_table_1")

In [6]:
# 하이브 메타데이터 정보를 조회합니다.
hive_db_df = spark.sql("SHOW DATABASES")

# 조회한 메타데이터를 출력합니다.
hive_db_df.show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [7]:
# 하이브 메타데이터 정보를 조회합니다.
hive_db_df1 = spark.sql("Use default")

# 조회한 메타데이터를 출력합니다.
hive_db_df1.show()

++
||
++
++

In [8]:
# 하이브 메타데이터 정보를 조회합니다.
hive_tbl_df = spark.sql("SHOW Tables")

In [9]:
hive_tbl_df.show()

+---------+----------+-----------+
|namespace| tableName|isTemporary|
+---------+----------+-----------+
|  default|my_table_1|      false|
+---------+----------+-----------+

## 3. 테이블 쿼리 처리하기

In [11]:
# 등록한 테이블에 SQL 쿼리를 실행합니다.
result = spark.sql("SELECT * FROM my_table_1")
result.show()

+-------+---+
|   name|age|
+-------+---+
|Charlie| 35|
|  Alice| 25|
|    Bob| 30|
+-------+---+

In [13]:
# 세션을 종료합니다.
spark.stop()