## 1, sqlite 연결세션 처리

- /Users/a06411/.ivy2/jars 이곳에  org.xerial_sqlite-jdbc-3.34.0.jar, sqlite-jdbc-3.34.0.jar 이 존재해야함

In [2]:
from pyspark.sql import SparkSession

spark = (SparkSession.builder\
           .config('spark.jars.packages', 'org.xerial:sqlite-jdbc:3.34.0')
           .config("spark.driver.host","127.0.0.1") 
           .config("spark.driver.bindAddress","127.0.0.1")
           .getOrCreate())

## sqlite 데이터 연결

In [4]:
path_db1 = "/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/sql_db/lending_club_2012.db"

In [5]:
df = (spark.read.format('jdbc') 
        .options(driver='org.sqlite.JDBC', dbtable='borrower',
                 url='jdbc:sqlite:'+path_db1)
        .load())

In [6]:
df.count()

53367

In [7]:
df.columns

['id',
 'emp_title',
 'emp_length',
 'home_ownership',
 'zip_code',
 'addr_state',
 'member_id']

## 2. sqlite 연결세션 처리

In [8]:
import os

from pyspark.sql import SparkSession

spark1 = (SparkSession.builder
    .master("local")
    .appName("SQLite JDBC")
    .config(
        "spark.jars",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
    .config(
        "spark.driver.extraClassPath",
        "{}/sqlite-jdbc-3.34.0.jar".format(os.getcwd()))
    .getOrCreate())

23/09/12 16:14:14 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [12]:
spark1

## 쿼리로 읽어오기

In [9]:
driver='org.sqlite.JDBC'
url='jdbc:sqlite:'+path_db1

In [10]:
query = "select * from borrower limit 100"

In [11]:
df = spark1 \
    .read \
    .format("jdbc") \
    .option("driver", driver) \
    .option("url", url) \
    .option("query", query) \
    .load()

In [13]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- member_id: double (nullable = true)

In [14]:
df.count()

100

In [15]:
df.show()

+-------+--------------------+----------+--------------+--------+----------+---------+
|     id|           emp_title|emp_length|home_ownership|zip_code|addr_state|member_id|
+-------+--------------------+----------+--------------+--------+----------+---------+
|2828755|University of Pho...|   2 years|          RENT|   970xx|        OR|     null|
|2828209|     city of branson| 10+ years|      MORTGAGE|   656xx|        MO|     null|
|2634739|    henry Schein Inc|   8 years|          RENT|   115xx|        NY|     null|
|2837824|  Sentara Healthcare|   6 years|      MORTGAGE|   234xx|        VA|     null|
|2837644|                MCSD|   6 years|           OWN|   330xx|        FL|     null|
|2836798|     Dept.of Defense| 10+ years|          RENT|   928xx|        CA|     null|
|2826877|United States Pos...| 10+ years|          RENT|   274xx|        NC|     null|
|2824664|            ref-chem| 10+ years|      MORTGAGE|   776xx|        TX|     null|
|2837301|      Placid Express| 10+ years|          RENT|   113xx|        NY|     null|
|2694737|Integrated Wind E...|   2 years|      MORTGAGE|   754xx|        TX|     null|
|2825326|Tarrant County Sh...| 10+ years|           OWN|   761xx|        TX|     null|
|2837228|the midnight mission|   6 years|      MORTGAGE|   906xx|        CA|     null|
|2827256|State Compensatio...|   7 years|          RENT|   945xx|        CA|     null|
|2827250|     Seal Source Inc|   7 years|      MORTGAGE|   972xx|        OR|     null|
|2827189|Orange County Gov...|   6 years|      MORTGAGE|   272xx|        NC|     null|
|2487374|Norfolk naval shi...|   5 years|      MORTGAGE|   237xx|        VA|     null|
|2827120|Fantasy Springs R...|   8 years|          RENT|   922xx|        CA|     null|
|2827122|State of Maryland...| 10+ years|          RENT|   212xx|        MD|     null|
|2835292|           Citigroup|   3 years|      MORTGAGE|   331xx|        FL|     null|
|2827092|National Oilwell ...|   3 years|          RENT|   917xx|        CA|     null|
+-------+--------------------+----------+--------------+--------+----------+---------+
only showing top 20 rows