# 1. sqlite 사용하기

In [1]:
import pandas as pd
import numpy as np
import sqlite3
import os

In [2]:
%pwd

'/Users/a06411/Documents/GitHub/js_automl_pycaret/01_판다스알아보기'

## 스키마 정보 가져오기

In [4]:
df_schema = pd.read_excel("../lending_club_data/테이블정보_한글칼럼명추가.xlsx")

In [5]:
df_schema.head()

,no,LoanStatNew,Label,Description,Korean,lab_desc,korean_name
0,1,emp_title,borrower,The job title supplied by the Borrower when ap...,직업,고객 정보,직업명
1,2,emp_length,borrower,Employment length in years. Possible values ar...,연차,고객 정보,근무연차
2,3,home_ownership,borrower,The home ownership status provided by the borr...,주택_소유_상태,고객 정보,주택소유
3,4,zip_code,borrower,The first 3 numbers of the zip code provided b...,우편번호(앞 3자리),고객 정보,우편번호
4,5,addr_state,borrower,The state provided by the borrower in the loan...,거주중인 주,고객 정보,거주국가

In [6]:
import meta

In [7]:
df_cols = meta.SearchMeta(df_schema)

In [8]:
df_cols

## 데이터 읽어오기

In [9]:
path_r = '/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/lending_club_2012.csv'

In [12]:
accept = pd.read_csv(path_r,low_memory=False)

In [13]:
accept.head()

,id,회원번호,대출금액,대출약정금액,투자자대출약정금액,대출상환기간,대출이자율,매월상환금액,신용평가등급,신용평가보조등급,...,상환시작일이후상환금액,상환시작일이후마지막상환금액,대출금지급유형,대출협력여부,가장최근상환일자,대출정산계획상태,대출정산계획일자,대출정산금액,대출정산비율금액,대출정산계획개월수
0,2515062,NaN,8500.0,8500.0,8500.0,36 months,13.11,286.85,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1435195,NaN,15850.0,15850.0,15850.0,36 months,19.05,581.40,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1856218,NaN,23850.0,23850.0,23850.0,60 months,19.05,619.34,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,2216955,NaN,18000.0,18000.0,17950.0,60 months,19.05,467.43,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1506044,NaN,14000.0,14000.0,13750.0,36 months,12.12,465.81,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## 테이블을 생성하는 함수 작성

In [14]:
def put(df_csv, label_info, db):
  tblname = label_info["Label"].unique()
  for i in tblname:
    cols = list(label_info[label_info['Label'] == i]['korean_name'].values)    # label별 데이터 분리
    df = df_csv[["id"]+ cols]  #id값 포함
    df.to_sql(i, db, if_exists='replace', index=False)
  db.close()

In [15]:
## 데이터베이스 처리 패스 지정

In [16]:
path_db = "/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/sql_db/lending_club_2012_hw.db"

## sql 접속하고 스키마 생성하기

In [17]:
con = sqlite3.connect(path_db)
put(accept,df_schema, con)