## 모듈 사용하기

In [81]:
import pandas as pd
import re
import numpy as np
import sqlite3
import os

In [16]:
pd.__version__

'1.5.3'

## 1. 렌딩클럽 데이터의 메타 데이터 확인하기

In [3]:
df_ldcb_schema = pd.read_excel("../lending_club_data/테이블정보_한글칼럼명추가.xlsx")

In [4]:
df_ldcb_schema

,no,LoanStatNew,Label,Description,Korean,lab_desc,korean_name
0,1,emp_title,borrower,The job title supplied by the Borrower when ap...,직업,고객 정보,직업명
1,2,emp_length,borrower,Employment length in years. Possible values ar...,연차,고객 정보,근무연차
2,3,home_ownership,borrower,The home ownership status provided by the borr...,주택_소유_상태,고객 정보,주택소유
3,4,zip_code,borrower,The first 3 numbers of the zip code provided b...,우편번호(앞 3자리),고객 정보,우편번호
4,5,addr_state,borrower,The state provided by the borrower in the loan...,거주중인 주,고객 정보,거주국가
...,...,...,...,...,...,...,...
145,146,settlement_term,settlement,The number of months that the borrower will be...,차용자가 정산 계획에 포함되는 개월 수,settlement(부채 정산)\n정보,대출정산계획개월수
146,147,open_acc_6m,trade,Number of open trades in last 6 months,최근 6개월 동안 진행된 거래의 개수,trade(금융 거래) 정보,최근은행거래횟수
147,148,total_cu_tl,trade,Number of finance trades,금융 거래 횟수,trade(금융 거래) 정보,은행대출거래횟수
148,149,acc_open_past_24mths,trade,Number of trades opened in past 24 months.,최근 24개월간 시작된 거래의 개수,trade(금융 거래) 정보,최근거래횟수
149,150,pct_tl_nvr_dlq,trade,Percent of trades never delinquent,한번도 연체되지 않은 거래의 비율,trade(금융 거래) 정보,미연체거래비율

## 2. 칼럼명 확인

## 2-1 영문칼럼명 확인

In [5]:
for i in df_ldcb_schema['LoanStatNew'] :
    print(i, end=", ")

emp_title, emp_length, home_ownership, zip_code, addr_state, member_id, delinq_amnt, mort_acc, num_accts_ever_120_pd, num_actv_bc_tl, num_bc_sats, num_bc_tl, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, percent_bc_gt_75, delinq_2yrs, earliest_cr_line, open_acc, pub_rec, revol_bal, revol_util, total_acc, last_credit_pull_d, all_util, tot_hi_cred_lim, total_bal_ex_mort, total_bc_limit, collections_12_mths_ex_med, chargeoff_within_12_mths, pub_rec_bankruptcies, tax_liens, mths_since_last_delinq, mths_since_last_major_derog, mths_since_recent_bc_dlq, mths_since_last_record, fico_range_low, fico_range_high, last_fico_range_high, last_fico_range_low, grade, sub_grade, hardship_flag, hardship_type, hardship_reason, hardship_status, deferral_term, hardship_amount, hardship_start_date, hardship_end_date, payment_plan_start_date, hardship_length, hardship_dpd, hardship_loan_status, orig_projected_additional_accrued_interest, hardship_payoff_balance_amount, hardship_last_payment_amount, disbursement_method, annual_inc, verification_status, dti, annual_inc_joint, dti_joint, verification_status_joint, inq_last_6mths, inq_fi, inq_last_12m, mths_since_recent_inq, open_act_il, open_il_12m, open_il_24m, total_bal_il, il_util, num_il_tl, total_il_high_credit_limit, mths_since_rcnt_il, mo_sin_old_il_acct, acc_now_delinq, tot_coll_amt, tot_cur_bal, max_bal_bc, avg_cur_bal, bc_util, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, policy_code, application_type, mo_sin_rcnt_tl, mths_since_recent_bc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mths_since_recent_revol_delinq, open_rv_12m, open_rv_24m, total_rev_hi_lim, bc_open_to_buy, num_actv_rev_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, revol_bal_joint, sec_app_fico_range_low, sec_app_fico_range_high, sec_app_earliest_cr_line, sec_app_inq_last_6mths, sec_app_mort_acc, sec_app_open_acc, sec_app_revol_util, sec_app_open_act_il, sec_app_num_rev_accts, sec_app_chargeoff_within_12_mths, sec_app_collections_12_mths_ex_med, sec_app_mths_since_last_major_derog, debt_settlement_flag, debt_settlement_flag_date, settlement_status, settlement_date, settlement_amount, settlement_percentage, settlement_term, open_acc_6m, total_cu_tl, acc_open_past_24mths, pct_tl_nvr_dlq,

## 2-2 한글 칼럼명

In [6]:
for i in df_ldcb_schema['korean_name'] :
    print(i, end=", ")

직업명, 근무연차 , 주택소유, 우편번호, 거주국가, 회원번호, 세금체납금액, 주택담도대출계좌수, 연체계좌수, 은행카드활동계좌개수, 은행카드정상계좌개수, 은행카드개수, 은행카드정상개수, 중기연체계좌개수, 단기연체계좌개수, 장기연체계좌개수, 최근개설계좌개수, 특정한도이상소진계좌비율, 연체발생회수 , 신용한도시작일자, 신용한도개설기록횟수, 신용이상기록횟수, 리볼링잔액, 리볼링사용비율, 신용한도, 신용한도총기록회수, 신용한도잔액, 총신용한도금액, 신용한도금액, 은행카드신요한도, 추심횟수, 연체횟수, 파산기록횟수, 세금유치권횟수, 최종연체개월수, 신용평가불랭이후개월수, 최근연체발생후개월수, 마지막거래이후개월수, FICO상한범위, FICO하한범위, 이전FICO상한범위, 이전FICO하한범위, 신용평가등급, 신용평가보조등급, 상환계획실행여부, 상환계획유형, 상환계획사유, 상환계획진행상태, 상환예정개월수, 매월이자납부금액, 상환시작일자, 상환마감일자, 상환계획시작일자, 기준이하납부개월수, 상환미지계좌, 상환이후대출상태, 상환이후추가대출금액, 상환시작일이후상환금액, 상환시작일이후마지막상환금액, 대출금지급유형, 연소득금액, 소득인증상태, 부채대비소득비율, 공동총소득금액, 공동부채대비소득비율, 공동소득인증상태, 6개월간상담횟수, 상담횟수, 12개월간상담횟수, 최근상담이후개월수, 할부거래횟수, 일년간할부계좌개수, 이년간할부계좌개수, 할부계좌잔액, 신용한도대비할부비율, 할부총계좌수, 할부신용한도, 최근할부발생개월수, 가장오리댄할부발생개월수, 연체계조개수, 연체추심금액, 총계좌잔액, 청구최대금액, 계좌평금금액, 신용한도대금비율, 대출금액, 대출약정금액, 투자자대출약정금액, 대출상환기간, 대출이자율, 매월상환금액, 대출조달월, 대출현재상태, 대출지불계획상태, url주소, 대출설명, 대출용도, 대출제목, 대출가능상태, 공동대출여부, 최근계죄개설개월수, 최근은행카드개월수, 대출초기상태, 잔존원금, 투자자잔존원금, 납부된총원금, 투자자납부된총원금, 납부누적원금, 납부누적이자, 납부누적연체료, 채무불이행회수율, 채무불이행회수범위, 최근지급월, 최근지급금액, 다음지급금액, 과거리볼빙발생개월수, 최근리볼빙발생개월수, 최근리볼빙연체개월수, 일년간리볼링거래횟수, 이년간리볼빙거래횟수, 리볼빙신용최대한도, 리볼빙구매총금액, 현재리볼빙진행개수, 현재개설된리볼빙계좌개수, 리볼빙총계좌수, 잔고0이상리볼빙거래개수, 공동리볼빙신용총금액, 보조FICO상한범위, 보조FICO하한범위, 보조신용한도, 보조신용조회횟수, 보조주택담도대출계좌수, 보조거래개수, 리볼빙총잔액비율, 보조할부거래개수, 보조리볼빙계좌수, 보조일년간 과금횟수, 보조일년간추심횟수, 보조나쁜평가개월수, 대출협력여부, 가장최근상환일자, 대출정산계획상태, 대출정산계획일자, 대출정산금액, 대출정산비율금액, 대출정산계획개월수, 최근은행거래횟수, 은행대출거래횟수, 최근거래횟수, 미연체거래비율,

## 2-3 칼럼에 대한 설명

In [8]:
for i in df_ldcb_schema['Korean'] :
    print(i, end=", ")

직업, 연차, 주택_소유_상태, 우편번호(앞 3자리), 거주중인 주, 고객 ID, 체납 금액, 주택담보대출 계좌 수, 120일 이상 연체 계좌 수, 활성 카드 계좌 수, 정상 카드 계좌 수, 카드 계좌 수, 정상 계좌 수, 120일 연체 계좌 수, 30일 연체 계좌 수, 24개월 간 90일 이상 연체된 계좌 수, 최근  12개월 간 개설 계좌, 한도 75% 이상 사용한 카드 계좌 비율, 30일 이상 연체 발생한 횟수, 최초 신용한도 시작 월, 오픈 크레딧 기록 수, 신용에 불리한 기록 수, 총 대금 잔고, 대금 사용 비율, 신용 정보 기록 수, 최근 대출금 지급 월, 신용 한도 잔액, 총 신용 한도, 신용 한도 잔액(주택담보대출 제외), 총 카드 한도 금액, 12개월 내 추심 수, 12개월 내 연체 횟수, 공식적인 파산 기록 수, 세금 유치권 수, 차용인의 마지막 연체 이후의 개월 수 , 최근 90 일 또는 더 나쁜 평가 이후의 개월 수, 가장 최근의 카드 연체 이후의 개월 수 , 가장 최근의 기록으로부터의 개월 수 , FICO 상한범위(대출 시), FICO 하한범위(대출 시), FICO 상한범위(이전), FICO 하한범위(이전), 대출 등급, 대출 보조 등급, 상환 계획 착수 여부, 상환 계획 유형, 대출 사유, 상환 진행 상태, 상환 예정 개월수, 매달 이자 납부액, 상환 시작일, 상환 마감일, 상환 계획 착수 일자, 기준 미만 납부 개월 수, 상환 시작일보다 늦어진 계좌, 상환 시작일 이후 대출 상태, 상환 시작일 이후 추가된 금액, 시작일 이후 상환한 금액, 상환 시작일 이후 최종 지급액, 대출금 지급 유형, 연소득, 소득 인증 여부, 부채 대비 소득 비율, 공동 대출고객 포함 총 소득, 공동 대출고객 부채 대비 소득 비율, 공동 대출고객 소득 인증 여부, 지난 6개월 간 상담 수, 상담 수, 지난 12개월 간 상담 수, 가장 최근 상담 이후의 개월 수 , 할부 거래 수, 지난 12개월 간 개설한 할부 계좌 수, 지난 24개월 간 개설한 할부 계좌 수, 할부 계좌 잔액, 신용한도 대비 대금 비율(할부계좌), 할부 계좌 수, 할부 신용 한도, 최근 할부 계좌 개설 이후의 개월 수 , 가장 오래된 은행 할부 계좌 개설 이후의 개월 수 , 체납 계좌 수, 추심 금액, 총 계좌 잔액, 최대 청구 대금, 전 계좌 평균 대금, 신용한도 대비 대금 비율(카드계좌), 대출 금액, 대출 약정 금액, (투자자들에 의한) 대출 약정 금액, 대출 상환 기간, 대출의 이자율, 월별 상환 금액, 대출금이 조달된 달, 대출의 현재 상태, 대출에 대한 지불 계획이 입력되었는지 여부, Lending Club에 연결되는 URL주소, 대출 설명, 대출 용도, 대출 제목, 공개적으로 사용이 가능한 지 여부 ( 공개적으로 사용이 가능할 경우 : policy_code = 1, 공개적으로 사용이 불가능한 경우 policy_code = 2), 단일 이용자로 구성된 대출인지 여럿이서 구성한 대출인지 여부, 가장 최근의 계좌 개설 이후의 개월 수 , 가장 최근의 카드 계좌 개설 이후의 개월 수 , 대출의 초기 상태 ( W또는 F의 값을 가짐), 잔존원본, (투자자들에게 투자 받은) 잔존원본, 총 대출 금액 대비 현재까지 남부된 원금, 투자자들에게 투자받은 금액 대비 현재까지 남부된 원금, 현재까지 납부된 원금, 현재까지 납부된 이자, 현재까지 납부된 연체료, 회수율 (채무 불이행에 대한 원금 및 발생이자를 회수할 수 있는 범위), 채무 불이행에 대한 추심비용을 회수할 수 있는 범위, 지급이 이루어진 가장 최근의 달, 가장 최근 지급의 액수, 다음 예정된 지급 일자, 가장 오래된 리볼빙 계좌 개설 이후의 개월 수 , 가장 최근의 리볼빙 계좌 개설 이후의 개월 수 , 가장 최근의 리볼빙 연체 이후의 개월 수 , 최근 12개월간 이루어진 리볼빙 거래의 개수, 최근 24개월간 이루어진 리볼빙 거래의 개수, 리볼빙 최대 신용한도 / 리볼빙 신용한도, 리볼빙 카드로 구매할 수 있는 총액, 현재 진행중인 리볼빙 거래의 개수, 현재 개설되어있는 리볼빙 계좌의 개수, 리볼빙 계좌의 총 개수, 잔고가 0원 이상인 리볼빙 거래의 개수, 공동 차용자의 리볼빙 신용 잔액의 합계 (중복 잔액 순), 보조 신청자의 FICO 범위 (높음), 보조 신청자의 FICO 범위 (낮음), 보조 신청자의 지원시 최초의 신용 한도, 보조 신청자의 지원시 최근 6개월 간 신용조회 횟수, 보조 신청자의 지원시 주택 담보 대출 계좌의 개수, 보조 신청자의 지원시 진행 중인 거래의 개수, 모든 리볼빙 계좌의 최대 신용 / 신용 한도에 대한 현재 총 잔액의 비율, 보조 신청자의 지원시 현재 진행 중인 할부 거래의 개수, 보조 신청자의 지원시 리볼빙 계좌 수, 보조 신청자의 지원시 지난 12 개월 이내의 과금 횟수, 보조 신청자의 지원시 의료 수집을 제외한 지난 12 개월 이내 추심 건수, 보조 신청자의 지원시 최근 90 일 또는 더 나쁜 평가 이후의 개월 수, 대출을 상환한 차용인이 채무 결제 회사가 협력하고 있는지 여부, Debt_Settlement_Flag이 지정된 가장 최근의 날짜, 차용인의 정산 계획 상태, 차용인이 정산 계획을 승인한 날짜 , 차용인이 정산하기로 합의한 대출 금액, 대출에 대한 상환 잔액 금액의 백분율로 표현된 정산 금액, 차용자가 정산 계획에 포함되는 개월 수, 최근 6개월 동안 진행된 거래의 개수, 금융 거래 횟수, 최근 24개월간 시작된 거래의 개수, 한번도 연체되지 않은 거래의 비율,

## 2-4 테이블 확인

In [9]:
df_ldcb_schema['Label'].value_counts()

credit                 32
loan_account           23
hardship               16
payment                13
secondary_applicant    13
revolving              11
installment             9
settlement              7
borrower                6
credit_rating           6
income                  6
inquiry                 4
trade                   4
Name: Label, dtype: int64

## 3. 클래스를 정의해서 메타 데이터 확인하기

In [10]:
class SearchMeta :
    def __init__(self,schema) :
        self.schema = schema
        self._createEnSchema()
        self._createKrSchema()
     
    def _createEnSchema(self) :
        self.edd = {k:v for k,v in zip(self.schema['LoanStatNew'].values,self.schema['korean_name'].values)} 

    def _createKrSchema(self) :
        self.kdd = {k:v for k,v in zip(self.schema['korean_name'].values,self.schema['LoanStatNew'].values)} 

    def searchEnMeta(self,key) :
        return self.edd.get(key) 

    def searchEnMetaAll(self,keys) :
        return [ self.edd.get(key) for key in keys] 

    def searchKrMeta(self,key) :
        return self.kdd.get(key) 

    def searchKrMetaAll(self,keys) :
        return [ self.kdd.get(key) for key in keys] 

    def searchLable(self,lable) :
        return self.schema[self.schema['Label'] == lable]

## 모듈로 처리하기

In [23]:
%%writefile meta.py

class SearchMeta :
    def __init__(self,schema) :
        self.schema = schema
        self._createEnSchema()
        self._createKrSchema()
     
    def _createEnSchema(self) :
        self.edd = {k:v for k,v in zip(self.schema['LoanStatNew'].values,self.schema['korean_name'].values)} 

    def _createKrSchema(self) :
        self.kdd = {k:v for k,v in zip(self.schema['korean_name'].values,self.schema['LoanStatNew'].values)} 

    def searchEnMeta(self,key) :
        return self.edd.get(key) 

    def searchEnMetaAll(self,keys) :
        return [ self.edd.get(key) for key in keys] 

    def searchKrMeta(self,key) :
        return self.kdd.get(key) 

    def searchKrMetaAll(self,keys) :
        return [ self.kdd.get(key) for key in keys] 

    def searchLable(self,lable) :
        return self.schema[self.schema['Label'] == lable]

Overwriting meta.py

## 객체 생성하기

In [12]:
meta = SearchMeta(df_ldcb_schema)

## 테이블 이름으로 메타정보 확인하기

In [13]:
meta.searchLable("borrower")

,no,LoanStatNew,Label,Description,Korean,lab_desc,korean_name
0,1,emp_title,borrower,The job title supplied by the Borrower when ap...,직업,고객 정보,직업명
1,2,emp_length,borrower,Employment length in years. Possible values ar...,연차,고객 정보,근무연차
2,3,home_ownership,borrower,The home ownership status provided by the borr...,주택_소유_상태,고객 정보,주택소유
3,4,zip_code,borrower,The first 3 numbers of the zip code provided b...,우편번호(앞 3자리),고객 정보,우편번호
4,5,addr_state,borrower,The state provided by the borrower in the loan...,거주중인 주,고객 정보,거주국가
5,6,member_id,borrower,A unique LC assigned Id for the borrower member.,고객 ID,고객 정보,회원번호

## 4. 렌딩클럽 파케이 데이터 읽기

## 4-1 파케이 파일 읽기

## 위치 지정하기

In [20]:
%pwd

'/Users/a06411/Documents/GitHub/js_automl_pycaret/01_판다스알아보기'

In [14]:
path = '/Users/a06411/Documents/GitHub/js_automl_pycaret/data/lending_club_parquet/'

##  파일을 읽고 상태 확인하기

In [17]:
df = pd.read_parquet(path)

In [18]:
df.shape

(2260701, 151)

## 4-2 스키마 확인

## 헤더 스키마 확인하기

In [19]:
df.select_dtypes(include="object").head().columns

Index(['id', 'member_id', 'term', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'fico_range_low', 'fico_range_high',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'last_fico_range_high', 'last_fico_range_low',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt',
       'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
       'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
       'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'avg_cur_bal', 'bc_util',
       'sec_app_earliest_cr_line', 'hardship_flag', 'hardship_type',
       'hardship_reason', 'hardship_status', 'deferral_term',
       'hardship_amount', 'hardship_start_date', 'hardship_end_date',
       'payment_plan_start_date', 'hardship_length', 'hardship_dpd',
       'hardship_loan_status', 'orig_projected_additional_accrued_interest',
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object')

## 한글 정보 읽기

In [21]:
df_schema = pd.read_excel("../lending_club_data/테이블정보_한글칼럼명추가.xlsx")

In [22]:
import meta

In [24]:
df_cols = meta.SearchMeta(df_schema)

In [25]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [26]:
cols = df_cols.searchEnMetaAll(df.columns[1:])

In [28]:
for i in cols :
    print(i, end=", ")

회원번호, 대출금액, 대출약정금액, 투자자대출약정금액, 대출상환기간, 대출이자율, 매월상환금액, 신용평가등급, 신용평가보조등급, 직업명, 근무연차 , 주택소유, 연소득금액, 소득인증상태, 대출조달월, 대출현재상태, 대출지불계획상태, url주소, 대출설명, 대출용도, 대출제목, 우편번호, 거주국가, 부채대비소득비율, 연체발생회수 , 신용한도시작일자, FICO상한범위, FICO하한범위, 6개월간상담횟수, 최종연체개월수, 마지막거래이후개월수, 신용한도개설기록횟수, 신용이상기록횟수, 리볼링잔액, 리볼링사용비율, 신용한도, 대출초기상태, 잔존원금, 투자자잔존원금, 납부된총원금, 투자자납부된총원금, 납부누적원금, 납부누적이자, 납부누적연체료, 채무불이행회수율, 채무불이행회수범위, 최근지급월, 최근지급금액, 다음지급금액, 신용한도총기록회수, 이전FICO상한범위, 이전FICO하한범위, 추심횟수, 신용평가불랭이후개월수, 대출가능상태, 공동대출여부, 공동총소득금액, 공동부채대비소득비율, 공동소득인증상태, 연체계조개수, 연체추심금액, 총계좌잔액, 최근은행거래횟수, 할부거래횟수, 일년간할부계좌개수, 이년간할부계좌개수, 최근할부발생개월수, 할부계좌잔액, 신용한도대비할부비율, 일년간리볼링거래횟수, 이년간리볼빙거래횟수, 청구최대금액, 신용한도잔액, 리볼빙신용최대한도, 상담횟수, 은행대출거래횟수, 12개월간상담횟수, 최근거래횟수, 계좌평금금액, 리볼빙구매총금액, 신용한도대금비율, 연체횟수, 세금체납금액, 가장오리댄할부발생개월수, 과거리볼빙발생개월수, 최근리볼빙발생개월수, 최근계죄개설개월수, 주택담도대출계좌수, 최근은행카드개월수, 최근연체발생후개월수, 최근상담이후개월수, 최근리볼빙연체개월수, 연체계좌수, 은행카드활동계좌개수, 현재리볼빙진행개수, 은행카드정상계좌개수, 은행카드개수, 할부총계좌수, 현재개설된리볼빙계좌개수, 리볼빙총계좌수, 잔고0이상리볼빙거래개수, 은행카드정상개수, 중기연체계좌개수, 단기연체계좌개수, 장기연체계좌개수, 최근개설계좌개수, 미연체거래비율, 특정한도이상소진계좌비율, 파산기록횟수, 세금유치권횟수, 총신용한도금액, 신용한도금액, 은행카드신요한도, 할부신용한도, 공동리볼빙신용총금액, 보조FICO상한범위, 보조FICO하한범위, 보조신용한도, 보조신용조회횟수, 보조주택담도대출계좌수, 보조거래개수, 리볼빙총잔액비율, 보조할부거래개수, 보조리볼빙계좌수, 보조일년간 과금횟수, 보조일년간추심횟수, 보조나쁜평가개월수, 상환계획실행여부, 상환계획유형, 상환계획사유, 상환계획진행상태, 상환예정개월수, 매월이자납부금액, 상환시작일자, 상환마감일자, 상환계획시작일자, 기준이하납부개월수, 상환미지계좌, 상환이후대출상태, 상환이후추가대출금액, 상환시작일이후상환금액, 상환시작일이후마지막상환금액, 대출금지급유형, 대출협력여부, 가장최근상환일자, 대출정산계획상태, 대출정산계획일자, 대출정산금액, 대출정산비율금액, 대출정산계획개월수,

## id 추가

In [29]:
cols.insert(0, df.columns[0])

In [30]:
for i in cols :
    print(i, end=", ")

id, 회원번호, 대출금액, 대출약정금액, 투자자대출약정금액, 대출상환기간, 대출이자율, 매월상환금액, 신용평가등급, 신용평가보조등급, 직업명, 근무연차 , 주택소유, 연소득금액, 소득인증상태, 대출조달월, 대출현재상태, 대출지불계획상태, url주소, 대출설명, 대출용도, 대출제목, 우편번호, 거주국가, 부채대비소득비율, 연체발생회수 , 신용한도시작일자, FICO상한범위, FICO하한범위, 6개월간상담횟수, 최종연체개월수, 마지막거래이후개월수, 신용한도개설기록횟수, 신용이상기록횟수, 리볼링잔액, 리볼링사용비율, 신용한도, 대출초기상태, 잔존원금, 투자자잔존원금, 납부된총원금, 투자자납부된총원금, 납부누적원금, 납부누적이자, 납부누적연체료, 채무불이행회수율, 채무불이행회수범위, 최근지급월, 최근지급금액, 다음지급금액, 신용한도총기록회수, 이전FICO상한범위, 이전FICO하한범위, 추심횟수, 신용평가불랭이후개월수, 대출가능상태, 공동대출여부, 공동총소득금액, 공동부채대비소득비율, 공동소득인증상태, 연체계조개수, 연체추심금액, 총계좌잔액, 최근은행거래횟수, 할부거래횟수, 일년간할부계좌개수, 이년간할부계좌개수, 최근할부발생개월수, 할부계좌잔액, 신용한도대비할부비율, 일년간리볼링거래횟수, 이년간리볼빙거래횟수, 청구최대금액, 신용한도잔액, 리볼빙신용최대한도, 상담횟수, 은행대출거래횟수, 12개월간상담횟수, 최근거래횟수, 계좌평금금액, 리볼빙구매총금액, 신용한도대금비율, 연체횟수, 세금체납금액, 가장오리댄할부발생개월수, 과거리볼빙발생개월수, 최근리볼빙발생개월수, 최근계죄개설개월수, 주택담도대출계좌수, 최근은행카드개월수, 최근연체발생후개월수, 최근상담이후개월수, 최근리볼빙연체개월수, 연체계좌수, 은행카드활동계좌개수, 현재리볼빙진행개수, 은행카드정상계좌개수, 은행카드개수, 할부총계좌수, 현재개설된리볼빙계좌개수, 리볼빙총계좌수, 잔고0이상리볼빙거래개수, 은행카드정상개수, 중기연체계좌개수, 단기연체계좌개수, 장기연체계좌개수, 최근개설계좌개수, 미연체거래비율, 특정한도이상소진계좌비율, 파산기록횟수, 세금유치권횟수, 총신용한도금액, 신용한도금액, 은행카드신요한도, 할부신용한도, 공동리볼빙신용총금액, 보조FICO상한범위, 보조FICO하한범위, 보조신용한도, 보조신용조회횟수, 보조주택담도대출계좌수, 보조거래개수, 리볼빙총잔액비율, 보조할부거래개수, 보조리볼빙계좌수, 보조일년간 과금횟수, 보조일년간추심횟수, 보조나쁜평가개월수, 상환계획실행여부, 상환계획유형, 상환계획사유, 상환계획진행상태, 상환예정개월수, 매월이자납부금액, 상환시작일자, 상환마감일자, 상환계획시작일자, 기준이하납부개월수, 상환미지계좌, 상환이후대출상태, 상환이후추가대출금액, 상환시작일이후상환금액, 상환시작일이후마지막상환금액, 대출금지급유형, 대출협력여부, 가장최근상환일자, 대출정산계획상태, 대출정산계획일자, 대출정산금액, 대출정산비율금액, 대출정산계획개월수,

## 데이터프레임에 칼럼명을 한글로 변경하기

In [31]:
df.columns = cols

In [32]:
df.head()

,id,회원번호,대출금액,대출약정금액,투자자대출약정금액,대출상환기간,대출이자율,매월상환금액,신용평가등급,신용평가보조등급,...,상환시작일이후상환금액,상환시작일이후마지막상환금액,대출금지급유형,대출협력여부,가장최근상환일자,대출정산계획상태,대출정산계획일자,대출정산금액,대출정산비율금액,대출정산계획개월수
0,63918338,None,25000.0,25000.0,25000.0,60 months,9.17,521.03,B,B2,...,None,None,Cash,N,None,None,None,None,None,None
1,60635644,None,30000.0,30000.0,30000.0,36 months,12.29,1000.59,C,C1,...,None,None,Cash,N,None,None,None,None,None,None
2,57206438,None,6000.0,6000.0,6000.0,36 months,9.17,191.28,B,B2,...,None,None,Cash,Y,May-2018,COMPLETE,May-2018,1050.0,49.95,1.0
3,65826019,None,6400.0,6400.0,6400.0,36 months,9.99,206.48,B,B3,...,None,None,Cash,N,None,None,None,None,None,None
4,62854410,None,35000.0,35000.0,35000.0,60 months,17.57,880.61,D,D4,...,None,None,Cash,N,None,None,None,None,None,None

# 5. 데이터 변환

## 날짜 변환

In [34]:
df_cols.searchEnMeta('issue_d')

'대출조달월'

In [35]:
df['대출조달월'].unique()

array(['Nov-2015', 'Sep-2015', 'Aug-2015', 'Dec-2015', 'Oct-2015',
       'Jul-2015', 'Feb-2015', 'May-2015', 'Mar-2015', 'Apr-2015',
       'Jun-2015', 'Jan-2015', 'Jan-2018', 'Sep-2017', 'Mar-2018',
       'Feb-2018', 'May-2016', 'Jul-2017', 'Apr-2016', 'Aug-2017',
       'Jun-2016', 'Sep-2018', 'Jul-2018', 'Jun-2017', 'Aug-2018',
       'May-2017', 'Mar-2016', 'Feb-2016', 'Apr-2017', 'Jan-2016',
       'Nov-2014', 'Dec-2014', 'May-2014', 'Oct-2014', 'Jul-2014',
       'Jun-2014', 'Sep-2014', 'Aug-2014', 'Apr-2014', 'Mar-2014',
       'Oct-2018', 'Nov-2018', 'Dec-2018', 'Jan-2014', 'Feb-2014',
       'May-2018', 'Apr-2018', 'Jun-2018', 'Jan-2011', 'Aug-2011',
       'Dec-2011', 'Feb-2011', 'Nov-2010', 'Jul-2011', 'Mar-2011',
       'May-2011', 'Jun-2011', 'Jun-2010', 'Oct-2011', 'Apr-2011',
       'Oct-2010', 'May-2010', 'Sep-2010', 'Nov-2011', 'Dec-2010',
       'Jul-2010', 'Sep-2011', 'Apr-2010', 'Aug-2010', 'Mar-2010',
       'Mar-2017', 'Dec-2013', 'Aug-2013', 'Jan-2017', 'Sep-2013',
       'Jan-2009', 'Feb-2017', 'Nov-2013', 'Oct-2013', 'Dec-2009',
       'Apr-2009', 'May-2008', 'Jul-2013', 'Sep-2008', 'Mar-2008',
       'Nov-2009', 'Dec-2008', 'Apr-2008', 'May-2009', 'Aug-2009',
       'Jan-2010', 'Jan-2008', 'Nov-2008', 'Aug-2008', 'Jun-2009',
       'Sep-2009', 'Oct-2009', 'Mar-2009', 'Oct-2007', 'Jul-2007',
       'Nov-2007', 'Feb-2010', 'Feb-2008', 'Feb-2009', 'Aug-2007',
       'Jun-2008', 'Jun-2007', 'Oct-2008', 'Dec-2007', 'Jul-2009',
       'Jul-2008', 'Sep-2007', 'Dec-2012', 'Mar-2013', 'Aug-2016',
       'May-2013', 'Sep-2016', 'Jan-2013', 'Aug-2012', 'Apr-2013',
       'Jun-2013', 'Nov-2012', 'Sep-2012', 'Feb-2012', 'Feb-2013',
       'Jan-2012', 'Mar-2012', 'Apr-2012', 'Oct-2012', 'Jul-2012',
       'Jun-2012', 'May-2012', 'Dec-2017', 'Jul-2016', 'Dec-2016',
       'Nov-2017', 'Oct-2017', None, 'Nov-2016', 'Oct-2016',
       'Source Verified'], dtype=object)

In [36]:
df['대출조달월'].value_counts()

Mar-2016           61992
Oct-2015           48630
May-2018           46311
Oct-2018           46305
Aug-2018           46079
                   ...
Jul-2007              63
Sep-2008              57
Sep-2007              53
Jun-2007              24
Source Verified        1
Name: 대출조달월, Length: 140, dtype: int64

## 5-2 널값과 이상값 변환

In [37]:
df = df.drop(df[df['대출조달월'] == "Source Verified"].index)

In [38]:
df['대출조달월'].isnull().sum()

33

In [39]:
df['대출조달월'] = df['대출조달월'].fillna("")

## 날짜를 변환

In [40]:
df['대출조달월_날짜변환'] = pd.to_datetime(df['대출조달월'])

In [41]:
df['대출조달월_날짜변환'].dtype

dtype('<M8[ns]')

## 날짜를 처리하는 객체를 알아보기

In [42]:
dir(df['대출조달월_날짜변환'].dt)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accessors',
 '_add_delegate_accessors',
 '_constructor',
 '_delegate_method',
 '_delegate_property_get',
 '_delegate_property_set',
 '_dir_additions',
 '_dir_deletions',
 '_freeze',
 '_get_values',
 '_hidden_attrs',
 '_parent',
 '_reset_cache',
 'ceil',
 'date',
 'day',
 'day_name',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'floor',
 'freq',
 'hour',
 'is_leap_year',
 'is_month_end',
 'is_month_start',
 'is_quarter_end',
 'is_quarter_start',
 'is_year_end',
 'is_year_start',
 'isocalendar',
 'microsecond',
 'minute',
 'month',
 'month_name',
 'nanosecond',
 'normalize',
 'quarter',
 'round',
 'second',
 'strftime',
 'time',
 'timetz',
 'to_period',
 'to_pydatetime',
 'tz',
 'tz_convert',
 'tz_localize',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [43]:
df['대출조달월_날짜변환'].dt.year

0          2015.0
1          2015.0
2          2015.0
3          2015.0
4          2015.0
            ...
2260696    2016.0
2260697    2016.0
2260698    2016.0
2260699    2016.0
2260700    2016.0
Name: 대출조달월_날짜변환, Length: 2260700, dtype: float64

In [44]:
(df['대출조달월_날짜변환'].dt.year).value_counts()

2018.0    495242
2017.0    443579
2016.0    434407
2015.0    421094
2014.0    235629
2013.0    134814
2012.0     53367
2011.0     21721
2010.0     12537
2009.0      5281
2008.0      2393
2007.0       603
Name: 대출조달월_날짜변환, dtype: int64

# 6. 특정 데이터 선택

## 6-1 특정 데이터만 선택

In [45]:
(df['대출조달월_날짜변환'].dt.year == 2012.0).sum()

53367

In [46]:
df_2012 = df[df['대출조달월_날짜변환'].dt.year == 2012.0]

In [47]:
df_2012.shape

(53367, 152)

## 6-2 데이터 변환후 삭제

In [52]:
df_2012.loc[:, '대출조달월'] = df_2012['대출조달월_날짜변환']

/var/folders/h4/44486vyn1_xbs13g1z50l5m00000gn/T/ipykernel_94972/862396029.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2012.loc[:, '대출조달월'] = df_2012['대출조달월_날짜변환']

In [53]:
df_2012 = df_2012.drop('대출조달월_날짜변환',axis=1)

In [54]:
df_2012.shape

(53367, 151)

## 6-3 데이터 저장하기

In [55]:
path_w = '/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/lending_club_2012_2.csv'

In [56]:
df_2012.to_csv(path_w,index=False)

## 6-4 데이터 읽어오기

In [58]:
accept = pd.read_csv(path_w,low_memory=False)

In [59]:
accept.head()

,id,회원번호,대출금액,대출약정금액,투자자대출약정금액,대출상환기간,대출이자율,매월상환금액,신용평가등급,신용평가보조등급,...,상환시작일이후상환금액,상환시작일이후마지막상환금액,대출금지급유형,대출협력여부,가장최근상환일자,대출정산계획상태,대출정산계획일자,대출정산금액,대출정산비율금액,대출정산계획개월수
0,2515062,NaN,8500.0,8500.0,8500.0,36 months,13.11,286.85,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1435195,NaN,15850.0,15850.0,15850.0,36 months,19.05,581.40,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,1856218,NaN,23850.0,23850.0,23850.0,60 months,19.05,619.34,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,2216955,NaN,18000.0,18000.0,17950.0,60 months,19.05,467.43,D,D4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,1506044,NaN,14000.0,14000.0,13750.0,36 months,12.12,465.81,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## 6-5 테이블 생성하기

## 테이블 생성 함수

In [61]:
def put(df_csv, label_info, db):
   tblname = label_info["Label"].unique()
   for i in tblname:
       cols = list(label_info[label_info['Label'] == i]['korean_name'].values)    # label별 데이터 분리
       df = df_csv[["id"]+ cols]  #id값 포함
       df.to_sql(i, db, if_exists='replace', index=False)
   db.close()

## 데이터베이스 생성하기

In [62]:
path_db = "/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/sql_db/lending_club_2012_hw2.db"

In [63]:
con = sqlite3.connect(path_db)
put(accept,df_schema, con)

# 7  데이터 베이스 조회하기

## 7-1 데이터베이스 내의 테이블 확인하기

In [65]:
path_db2 = "/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/sql_db/lending_club_2012_hw2.db"

In [66]:
con2 = sqlite3.connect(path_db2)

## 테이블 정보 확인하기

In [67]:
sub_query = """SELECT name 
           FROM sqlite_master 
           WHERE type IN ('table', 'view') AND name NOT LIKE 'sqlite_%' """

In [70]:
 pd.read_sql_query(sub_query,con2)

                   name
0              borrower
1                credit
2         credit_rating
3              hardship
4                income
5               inquiry
6           installment
7          loan_account
8               payment
9             revolving
10  secondary_applicant
11           settlement
12                trade

In [73]:
df_tbl_name = pd.read_sql_query(sub_query,con2)

In [74]:
[*df_tbl_name['name']]

['borrower',
 'credit',
 'credit_rating',
 'hardship',
 'income',
 'inquiry',
 'installment',
 'loan_account',
 'payment',
 'revolving',
 'secondary_applicant',
 'settlement',
 'trade']

In [75]:
query = "SELECT * FROM sqlite_master WHERE type='table';"

In [76]:
pd.read_sql_query(query,con2)

,type,name,tbl_name,rootpage,sql
0,table,borrower,borrower,2,"CREATE TABLE ""borrower"" (\n""id"" INTEGER,\n ""직..."
1,table,credit,credit,717,"CREATE TABLE ""credit"" (\n""id"" INTEGER,\n ""세금체..."
2,table,credit_rating,credit_rating,1793,"CREATE TABLE ""credit_rating"" (\n""id"" INTEGER,\..."
3,table,hardship,hardship,2156,"CREATE TABLE ""hardship"" (\n""id"" INTEGER,\n ""상..."
4,table,income,income,2574,"CREATE TABLE ""income"" (\n""id"" INTEGER,\n ""연소득..."
5,table,inquiry,inquiry,3084,"CREATE TABLE ""inquiry"" (\n""id"" INTEGER,\n ""6개..."
6,table,installment,installment,3288,"CREATE TABLE ""installment"" (\n""id"" INTEGER,\n ..."
7,table,loan_account,loan_account,3575,"CREATE TABLE ""loan_account"" (\n""id"" INTEGER,\n..."
8,table,payment,payment,8318,"CREATE TABLE ""payment"" (\n""id"" INTEGER,\n ""대출..."
9,table,revolving,revolving,9243,"CREATE TABLE ""revolving"" (\n""id"" INTEGER,\n ""..."
10,table,secondary_applicant,secondary_applicant,9609,"CREATE TABLE ""secondary_applicant"" (\n""id"" INT..."
11,table,settlement,settlement,9921,"CREATE TABLE ""settlement"" (\n""id"" INTEGER,\n ..."
12,table,trade,trade,10170,"CREATE TABLE ""trade"" (\n""id"" INTEGER,\n ""최근은행..."

## 7-2 실제 테이블의 정보 가져오기

## 함수 정의하기

In [77]:
def select_table(tbl_name,conn) :
    query = f"SELECT * FROM {tbl_name};"
    df = pd.read_sql_query(query,conn)
    return df

In [78]:
tbl_name = "borrower"

In [79]:
df_borrower = select_table(tbl_name, con2)

In [80]:
df_borrower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53367 entries, 0 to 53366
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      53367 non-null  int64
 1   직업명     50195 non-null  object
 2   근무연차    51442 non-null  object
 3   주택소유    53367 non-null  object
 4   우편번호    53367 non-null  object
 5   거주국가    53367 non-null  object
 6   회원번호    0 non-null      object
dtypes: int64(1), object(6)
memory usage: 2.9+ MB

##  데이터를 읽어오기

In [82]:
path_r = '/Users/a06411/Documents/GitHub/js_automl_pycaret/lending_club_data/lending_club_2012_2.csv'

In [92]:
df2 = pd.read_csv(path_r)

/var/folders/h4/44486vyn1_xbs13g1z50l5m00000gn/T/ipykernel_94972/1448226099.py:1: DtypeWarning: Columns (129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(path_r)

In [93]:
df2.shape

(53367, 151)

## 대출상태 확인하기

In [94]:
df_cols.searchEnMeta('loan_status')

'대출현재상태'

In [99]:
(df2['대출현재상태'] != 'Current').sum()

53367

## 데이터 상태 변경확인

In [101]:
df2['대출현재상태'].value_counts()

Fully Paid     44723
Charged Off     8644
Name: 대출현재상태, dtype: int64

In [102]:
df2['대출현재상태'] = df2['대출현재상태'].map({'Fully Paid':0, 
                                            'Charged Off': 1
                                            , 'Late (31-120 days)': 1
                                           , 'Late (16-30 days)': 1
                                           , 'In Grace Period': 0
                                           , 'Does not meet the credit policy. Status:Fully Paid': 0
                                           , 'Does not meet the credit policy. Status:Charged Off': 1
                                           , 'Default': 1})

In [103]:
df2['대출현재상태'].value_counts()

0    44723
1     8644
Name: 대출현재상태, dtype: int64

In [107]:
df2['대출현재상태'].isna().sum()

0

In [104]:
df_cols.searchEnMeta('emp_length')

'근무연차 '

In [105]:
df2['근무연차 '] = df2['근무연차 '].map({'10+ years':10, 
                                     '3 years': 3, 
                                     '2 years': 2, 
                                      '< 1 year': 1,
                                      '1 year ': 1, 
                                      '4 years': 4,
                                      '5 years' : 5,
                                      '8 years' : 8,
                                      '6 years' : 6,
                                      '7 years' : 7,
                                      '9 years' : 9})

In [106]:
df2['근무연차 '].value_counts()

10.0    15396
2.0      4906
5.0      4543
1.0      4140
4.0      3962
3.0      3872
6.0      3743
7.0      3037
8.0      2285
9.0      1907
Name: 근무연차 , dtype: int64

##  피처 칼럼 산정

In [108]:
feat_imp = ["int_rate","dti","annual_inc","mo_sin_old_rev_tl_op",
            "acc_open_past_24mths","loan_amnt","emp_length",
            "revol_bal", "term", "funded_amnt_inv", "installment", "purpose",
            "total_rev_hi_lim","fico_range_low","debt_settlement_flag", 
            "mort_acc","total_bc_limit","home_ownership",
            "avg_cur_bal","all_util","mths_since_recent_bc","total_acc",
            "open_acc_6m","bc_util","num_actv_rev_tl",    
            "funded_amnt","hardship_flag","num_rev_tl_bal_gt_0",
            "mths_since_recent_inq","inq_last_6mths", "num_il_tl",
            "mo_sin_old_il_acct","num_rev_accts","num_tl_120dpd_2m",
            "total_il_high_credit_limit","application_type",
            "revol_util","tot_hi_cred_lim","delinq_2yrs",
            "mo_sin_rcnt_tl","num_actv_bc_tl","mths_since_last_record",
            "percent_bc_gt_75", "bc_open_to_buy","max_bal_bc",
            "grade","open_rv_24m","mo_sin_rcnt_rev_tl_op",
            "pct_tl_nvr_dlq","verification_status","tot_cur_bal","total_bal_ex_mort",
            "mths_since_last_major_derog","inq_fi","mths_since_rcnt_il",
            "inq_last_12m","mths_since_last_delinq","num_bc_tl", 'loan_status']

In [109]:
ll = [] 

for i in feat_imp :
    ll.append(df_cols.searchEnMeta(i))

In [110]:
ll

['대출이자율',
 '부채대비소득비율',
 '연소득금액',
 '과거리볼빙발생개월수',
 '최근거래횟수',
 '대출금액',
 '근무연차 ',
 '리볼링잔액',
 '대출상환기간',
 '투자자대출약정금액',
 '매월상환금액',
 '대출용도',
 '리볼빙신용최대한도',
 'FICO상한범위',
 '대출협력여부',
 '주택담도대출계좌수',
 '은행카드신요한도',
 '주택소유',
 '계좌평금금액',
 '신용한도잔액',
 '최근은행카드개월수',
 '신용한도',
 '최근은행거래횟수',
 '신용한도대금비율',
 '현재리볼빙진행개수',
 '대출약정금액',
 '상환계획실행여부',
 '잔고0이상리볼빙거래개수',
 '최근상담이후개월수',
 '6개월간상담횟수',
 '할부총계좌수',
 '가장오리댄할부발생개월수',
 '리볼빙총계좌수',
 '중기연체계좌개수',
 '할부신용한도',
 '공동대출여부',
 '리볼링사용비율',
 '총신용한도금액',
 '연체발생회수 ',
 '최근계죄개설개월수',
 '은행카드활동계좌개수',
 '마지막거래이후개월수',
 '특정한도이상소진계좌비율',
 '리볼빙구매총금액',
 '청구최대금액',
 '신용평가등급',
 '이년간리볼빙거래횟수',
 '최근리볼빙발생개월수',
 '미연체거래비율',
 '소득인증상태',
 '총계좌잔액',
 '신용한도금액',
 '신용평가불랭이후개월수',
 '상담횟수',
 '최근할부발생개월수',
 '12개월간상담횟수',
 '최종연체개월수',
 '은행카드개수',
 '대출현재상태']

In [111]:
df_analysis = df2[ll]

In [112]:
df_analysis.shape

(53367, 59)

In [113]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [114]:
SEED = 2021
TARGET = '대출현재상태'

In [116]:
X = df_analysis
Y = df_analysis[TARGET]

In [121]:
X_train, X_test = train_test_split(X, test_size = 0.95, stratify=Y,random_state = SEED)

In [122]:
X_train.shape

(2668, 59)

In [123]:
X_train[TARGET].value_counts()

0    2236
1     432
Name: 대출현재상태, dtype: int64

In [124]:
X_train['근무연차 '].value_counts()

10.0    753
2.0     269
5.0     222
1.0     218
4.0     215
6.0     176
3.0     173
7.0     157
8.0     135
9.0      91
Name: 근무연차 , dtype: int64

In [125]:
X_train.head()

,대출이자율,부채대비소득비율,연소득금액,과거리볼빙발생개월수,최근거래횟수,대출금액,근무연차,리볼링잔액,대출상환기간,투자자대출약정금액,...,소득인증상태,총계좌잔액,신용한도금액,신용평가불랭이후개월수,상담횟수,최근할부발생개월수,12개월간상담횟수,최종연체개월수,은행카드개수,대출현재상태
17890,13.11,28.99,97000.0,NaN,4.0,21000.0,5.0,17047.0,36 months,20975.0,...,Verified,NaN,145911.0,NaN,NaN,NaN,NaN,NaN,NaN,0
16036,7.90,9.04,113786.0,NaN,1.0,18575.0,NaN,23946.0,36 months,18575.0,...,Not Verified,NaN,44537.0,NaN,NaN,NaN,NaN,NaN,NaN,0
10896,9.76,2.19,130000.0,NaN,5.0,35000.0,10.0,7014.0,36 months,35000.0,...,Verified,NaN,819312.0,NaN,NaN,NaN,NaN,NaN,NaN,1
19316,21.49,32.72,45000.0,248.0,4.0,18000.0,10.0,23831.0,60 months,18000.0,...,Verified,47941.0,47941.0,79.0,NaN,NaN,NaN,79.0,6.0,0
17473,19.72,20.77,36400.0,140.0,2.0,14300.0,NaN,17796.0,36 months,14300.0,...,Not Verified,17796.0,17796.0,NaN,NaN,NaN,NaN,NaN,7.0,0

In [153]:
pip install --force-reinstall --no-deps scipy==1.13.1

Collecting scipy==1.13.1
  Using cached scipy-1.13.1-cp39-cp39-macosx_12_0_arm64.whl.metadata (60 kB)
Using cached scipy-1.13.1-cp39-cp39-macosx_12_0_arm64.whl (30.3 MB)
Installing collected packages: scipy
  Attempting uninstall: scipy
    WARNING: No metadata found in /Users/a06411/opt/anaconda3/envs/pycaret/lib/python3.9/site-packages
    Found existing installation: scipy 1.13.1
ERROR: Cannot uninstall scipy 1.13.1, RECORD file not found. You might be able to recover from this via: 'pip install --force-reinstall --no-deps scipy==1.13.1'.
Note: you may need to restart the kernel to use updated packages.

###### 업데이트 할 것 

- pip install --upgrade scikit-learn==1.4.0
- pip install --upgrade pycaret==3.3.2
- pip install --upgrade  scipy==1.8.0

In [152]:
from pycaret.classification import *

ImportError: cannot import name 'interp' from 'scipy' (/Users/a06411/opt/anaconda3/envs/pycaret/lib/python3.9/site-packages/scipy/__init__.py)