In [3]:
import os

In [4]:
import mysql.connector
from pyspark.sql import SparkSession

In [28]:
"{}/mysql-connector-java-8.0.20.jar".format(os.getcwd())

'/Users/a06411/Documents/GitHub/js_automl_pycaret/mysql-connector-java-8.0.20.jar'

In [29]:
"{}/mysql-connector-java-8.0.20.jar".format(os.getcwd())

'/Users/a06411/Documents/GitHub/js_automl_pycaret/mysql-connector-java-8.0.20.jar'

In [5]:
# spark 세션 연결
spark = (SparkSession.builder
        .config( "spark.jars", "{}/mysql-connector-java-8.0.20.jar".format(os.getcwd()))
        .config( "spark.driver.extraClassPath","{}/mysql-connector-java-8.0.20.jar".format(os.getcwd()))
        .config("spark.driver.host","127.0.0.1") 
        .config("spark.driver.bindAddress","127.0.0.1")
        .master("local").appName("PySpark_MySQL_test").getOrCreate())

23/09/12 11:04:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [6]:
spark

In [9]:
df = (spark.read.format("jdbc")
    .option("url", "jdbc:mysql://127.0.0.1:3306/sakila?useUnicode=true&serverTimezone=Asia/Seoul") 
    .option("driver", "com.mysql.cj.jdbc.Driver")
    .option("dbtable", "actor") 
    .option("user", 'root')
    .option("password", "")
    .load())

In [10]:
df.show(5)

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 5 rows

In [12]:
df1 = (spark.read.format("jdbc")
    .option("url", "jdbc:mysql://127.0.0.1:3306/sakila?useUnicode=true&serverTimezone=Asia/Seoul") 
    .option("driver", "com.mysql.cj.jdbc.Driver")
    .option("query", "select * from actor limit 100") 
    .option("user", 'root')
    .option("password", "")
    .load())

In [13]:
df1.show()

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
|       6|     BETTE|   NICHOLSON|2006-02-15 04:34:33|
|       7|     GRACE|      MOSTEL|2006-02-15 04:34:33|
|       8|   MATTHEW|   JOHANSSON|2006-02-15 04:34:33|
|       9|       JOE|       SWANK|2006-02-15 04:34:33|
|      10| CHRISTIAN|       GABLE|2006-02-15 04:34:33|
|      11|      ZERO|        CAGE|2006-02-15 04:34:33|
|      12|      KARL|       BERRY|2006-02-15 04:34:33|
|      13|       UMA|        WOOD|2006-02-15 04:34:33|
|      14|    VIVIEN|      BERGEN|2006-02-15 04:34:33|
|      15|      CUBA|     OLIVIER|2006-02-15 04:34:33|
|      16|      FRED|     COSTNER|2006-02-15 04:34:33|
|      17|     HELEN|      VOIGHT|2006-02-15 04:34:33|
|      18|       DAN|        TORN|2006-02-15 04:34:33|
|      19|       BOB|     FAWCETT|2006-02-15 04:34:33|
|      20|   LUCILLE|       TRACY|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 20 rows

In [14]:
def getDataframe(query) : 
    df = (spark.read.format("jdbc")
        .option("url", "jdbc:mysql://127.0.0.1:3306/sakila?useUnicode=true&serverTimezone=Asia/Seoul") 
        .option("driver", "com.mysql.cj.jdbc.Driver")
        .option("query", f"{query}") 
        .option("user", 'root')
        .option("password", "")
        .load())
    return df

In [25]:
query = "select * from customer limit 100"

In [26]:
df3 = getDataframe(query)

In [27]:
df3.show()

+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
|customer_id|store_id|first_name|last_name|               email|address_id|active|        create_date|        last_update|
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
|          1|       1|      MARY|    SMITH|MARY.SMITH@sakila...|         5|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          2|       1|  PATRICIA|  JOHNSON|PATRICIA.JOHNSON@...|         6|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          3|       1|     LINDA| WILLIAMS|LINDA.WILLIAMS@sa...|         7|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          4|       2|   BARBARA|    JONES|BARBARA.JONES@sak...|         8|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          5|       1| ELIZABETH|    BROWN|ELIZABETH.BROWN@s...|         9|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          6|       2|  JENNIFER|    DAVIS|JENNIFER.DAVIS@sa...|        10|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          7|       1|     MARIA|   MILLER|MARIA.MILLER@saki...|        11|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          8|       2|     SUSAN|   WILSON|SUSAN.WILSON@saki...|        12|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          9|       2|  MARGARET|    MOORE|MARGARET.MOORE@sa...|        13|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         10|       1|   DOROTHY|   TAYLOR|DOROTHY.TAYLOR@sa...|        14|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         11|       2|      LISA| ANDERSON|LISA.ANDERSON@sak...|        15|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         12|       1|     NANCY|   THOMAS|NANCY.THOMAS@saki...|        16|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         13|       2|     KAREN|  JACKSON|KAREN.JACKSON@sak...|        17|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         14|       2|     BETTY|    WHITE|BETTY.WHITE@sakil...|        18|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         15|       1|     HELEN|   HARRIS|HELEN.HARRIS@saki...|        19|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         16|       2|    SANDRA|   MARTIN|SANDRA.MARTIN@sak...|        20| false|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         17|       1|     DONNA| THOMPSON|DONNA.THOMPSON@sa...|        21|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         18|       2|     CAROL|   GARCIA|CAROL.GARCIA@saki...|        22|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         19|       1|      RUTH| MARTINEZ|RUTH.MARTINEZ@sak...|        23|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
|         20|       2|    SHARON| ROBINSON|SHARON.ROBINSON@s...|        24|  true|2006-02-14 22:04:36|2006-02-15 04:57:20|
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
only showing top 20 rows

In [15]:
query = "select * from actor limit 100"

In [17]:
df3 = getDataframe(query)

In [18]:
df3.show()

+--------+----------+------------+-------------------+
|actor_id|first_name|   last_name|        last_update|
+--------+----------+------------+-------------------+
|       1|  PENELOPE|     GUINESS|2006-02-15 04:34:33|
|       2|      NICK|    WAHLBERG|2006-02-15 04:34:33|
|       3|        ED|       CHASE|2006-02-15 04:34:33|
|       4|  JENNIFER|       DAVIS|2006-02-15 04:34:33|
|       5|    JOHNNY|LOLLOBRIGIDA|2006-02-15 04:34:33|
|       6|     BETTE|   NICHOLSON|2006-02-15 04:34:33|
|       7|     GRACE|      MOSTEL|2006-02-15 04:34:33|
|       8|   MATTHEW|   JOHANSSON|2006-02-15 04:34:33|
|       9|       JOE|       SWANK|2006-02-15 04:34:33|
|      10| CHRISTIAN|       GABLE|2006-02-15 04:34:33|
|      11|      ZERO|        CAGE|2006-02-15 04:34:33|
|      12|      KARL|       BERRY|2006-02-15 04:34:33|
|      13|       UMA|        WOOD|2006-02-15 04:34:33|
|      14|    VIVIEN|      BERGEN|2006-02-15 04:34:33|
|      15|      CUBA|     OLIVIER|2006-02-15 04:34:33|
|      16|      FRED|     COSTNER|2006-02-15 04:34:33|
|      17|     HELEN|      VOIGHT|2006-02-15 04:34:33|
|      18|       DAN|        TORN|2006-02-15 04:34:33|
|      19|       BOB|     FAWCETT|2006-02-15 04:34:33|
|      20|   LUCILLE|       TRACY|2006-02-15 04:34:33|
+--------+----------+------------+-------------------+
only showing top 20 rows