In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import re
import os

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline 
import pycaret

In [3]:
path_read ="/Users/a06411/Documents/data_hub/lending_club/lgb_selected.pkl"

In [4]:
df = pd.read_pickle(path_read)
# df.drop(['Unnamed: 0'],1,inplace=True)

In [5]:
df.shape

(1382351, 63)

In [6]:
df.head()

,int_rate,dti,annual_inc,mo_sin_old_rev_tl_op,acc_open_past_24mths,loan_amnt,emp_length,addr_state,revol_bal,term,...,total_bal_ex_mort,mths_since_last_major_derog,inq_fi,mths_since_rcnt_il,inq_last_12m,mths_since_last_delinq,num_bc_tl,loan_status,issue_d,id
0,13.99,5.91,55000.0,128.0,4.0,3600.0,1,38,2765.0,0,...,7746.0,30.0,3.0,21.0,4.0,30.0,5.0,0,Dec-2015,68407277
1,11.99,16.06,65000.0,192.0,4.0,24700.0,1,41,21470.0,0,...,39475.0,-1.0,0.0,19.0,6.0,6.0,17.0,0,Dec-2015,68355089
2,10.78,10.78,63000.0,184.0,6.0,20000.0,1,14,7869.0,1,...,18696.0,-1.0,2.0,19.0,1.0,-1.0,4.0,0,Dec-2015,68341763
4,22.45,25.37,104433.0,210.0,10.0,10400.0,3,38,21929.0,1,...,95768.0,-1.0,2.0,14.0,3.0,12.0,9.0,0,Dec-2015,68476807
5,13.44,10.20,34000.0,54.0,0.0,11950.0,4,10,8822.0,0,...,12798.0,-1.0,0.0,338.0,0.0,-1.0,2.0,0,Dec-2015,68426831

## 파이캐럿 autoML로 처리하기

In [7]:
from pycaret.classification import *

## Make sample
- Since using original df outrange our RAM capacity
- Make sample of df for Pycaret to comparing Algorithms

In [24]:
df_sample = df.copy()

In [28]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41471 entries, 1054037 to 386477
Data columns (total 63 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   int_rate                     41471 non-null  float64
 1   dti                          41471 non-null  float64
 2   annual_inc                   41471 non-null  float64
 3   mo_sin_old_rev_tl_op         41471 non-null  float64
 4   acc_open_past_24mths         41471 non-null  float64
 5   loan_amnt                    41471 non-null  float64
 6   emp_length                   41471 non-null  int64
 7   addr_state                   41471 non-null  int64
 8   revol_bal                    41471 non-null  float64
 9   term                         41471 non-null  int64
 10  sub_grade                    41471 non-null  int64
 11  funded_amnt_inv              41471 non-null  float64
 12  installment                  41471 non-null  float64
 13  purpose                      41471 non-null  int64
 14  total_rev_hi_lim             41471 non-null  float64
 15  fico_range_low               41471 non-null  float64
 16  debt_settlement_flag         41471 non-null  int64
 17  mort_acc                     41471 non-null  float64
 18  total_bc_limit               41471 non-null  float64
 19  home_ownership               41471 non-null  int64
 20  avg_cur_bal                  41471 non-null  float64
 21  all_util                     41471 non-null  float64
 22  mths_since_recent_bc         41471 non-null  float64
 23  total_acc                    41471 non-null  float64
 24  open_acc_6m                  41471 non-null  float64
 25  bc_util                      41471 non-null  float64
 26  num_actv_rev_tl              41471 non-null  float64
 27  funded_amnt                  41471 non-null  float64
 28  hardship_flag                41471 non-null  int64
 29  num_rev_tl_bal_gt_0          41471 non-null  float64
 30  mths_since_recent_inq        41471 non-null  float64
 31  inq_last_6mths               41471 non-null  float64
 32  num_il_tl                    41471 non-null  float64
 33  mo_sin_old_il_acct           41471 non-null  float64
 34  num_rev_accts                41471 non-null  float64
 35  num_tl_120dpd_2m             41471 non-null  float64
 36  total_il_high_credit_limit   41471 non-null  float64
 37  application_type             41471 non-null  int64
 38  revol_util                   41471 non-null  float64
 39  tot_hi_cred_lim              41471 non-null  float64
 40  delinq_2yrs                  41471 non-null  float64
 41  mo_sin_rcnt_tl               41471 non-null  float64
 42  num_actv_bc_tl               41471 non-null  float64
 43  mths_since_last_record       41471 non-null  float64
 44  percent_bc_gt_75             41471 non-null  float64
 45  bc_open_to_buy               41471 non-null  float64
 46  max_bal_bc                   41471 non-null  float64
 47  grade                        41471 non-null  int64
 48  open_rv_24m                  41471 non-null  float64
 49  mo_sin_rcnt_rev_tl_op        41471 non-null  float64
 50  pct_tl_nvr_dlq               41471 non-null  float64
 51  verification_status          41471 non-null  int64
 52  tot_cur_bal                  41471 non-null  float64
 53  total_bal_ex_mort            41471 non-null  float64
 54  mths_since_last_major_derog  41471 non-null  float64
 55  inq_fi                       41471 non-null  float64
 56  mths_since_rcnt_il           41471 non-null  float64
 57  inq_last_12m                 41471 non-null  float64
 58  mths_since_last_delinq       41471 non-null  float64
 59  num_bc_tl                    41471 non-null  float64
 60  loan_status                  41471 non-null  int64
 61  issue_d                      41471 non-null  object
 62  id                           41471 non-null  object
dtypes: float64(49), int64(12), object(2)
memory usage: 21.3+ MB

In [25]:
df_sample = df_sample.sample(frac=0.03, random_state=20)

In [26]:
df_sample.shape

(41471, 63)

In [30]:
df_sample.columns[:-2]

Index(['int_rate', 'dti', 'annual_inc', 'mo_sin_old_rev_tl_op',
       'acc_open_past_24mths', 'loan_amnt', 'emp_length', 'addr_state',
       'revol_bal', 'term', 'sub_grade', 'funded_amnt_inv', 'installment',
       'purpose', 'total_rev_hi_lim', 'fico_range_low', 'debt_settlement_flag',
       'mort_acc', 'total_bc_limit', 'home_ownership', 'avg_cur_bal',
       'all_util', 'mths_since_recent_bc', 'total_acc', 'open_acc_6m',
       'bc_util', 'num_actv_rev_tl', 'funded_amnt', 'hardship_flag',
       'num_rev_tl_bal_gt_0', 'mths_since_recent_inq', 'inq_last_6mths',
       'num_il_tl', 'mo_sin_old_il_acct', 'num_rev_accts', 'num_tl_120dpd_2m',
       'total_il_high_credit_limit', 'application_type', 'revol_util',
       'tot_hi_cred_lim', 'delinq_2yrs', 'mo_sin_rcnt_tl', 'num_actv_bc_tl',
       'mths_since_last_record', 'percent_bc_gt_75', 'bc_open_to_buy',
       'max_bal_bc', 'grade', 'open_rv_24m', 'mo_sin_rcnt_rev_tl_op',
       'pct_tl_nvr_dlq', 'verification_status', 'tot_cur_bal',
       'total_bal_ex_mort', 'mths_since_last_major_derog', 'inq_fi',
       'mths_since_rcnt_il', 'inq_last_12m', 'mths_since_last_delinq',
       'num_bc_tl', 'loan_status'],
      dtype='object')

## Setting up Pycaret

In [32]:
st_clf = setup(data = df_sample[df_sample.columns[:-2]], target = 'loan_status')

## Comparing Models

In [33]:
best_3 = compare_models(sort ='AUC', fold=3, n_select = 3)